@model ForumDetails

<div class="row">
    <div class="col">
        <h1>
            <a asp-action="Forum" asp-route-id="@Model.ForumId">
                @Model.Name
            </a>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">@Model.Description</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <i>Created on @Model.Created</i>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-link" asp-action="NewTopic" asp-route-id="@Model.ForumId">
            <h2>New Topic</h2>
        </a>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @{ var index = 1; }

                @foreach (var topic in Model.Topics)
                {
                    <tr>
                        <td scope="row">@index</td>
                        <td>
                            <a asp-action="Topic" asp-route-id="@topic.TopicId">
                                @topic.Name
                            </a>
                        </td>
                        <td>@topic.Description</td>
                    </tr>

                    ++index;
                }
            </tbody>
        </table>
    </div>
</div>