@model CategoryDetailsCollection

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            Board Index
        </li>
    </ol>
</nav>

@foreach (var category in Model)
{
    <br />
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <span class="lead">@category.Name</span>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var forum in category.Forums)
                    {
                        <li class="list-group-item">
                            <img src="@forum.ImageUrl" />
                            <a asp-action="Forum" asp-route-id="@forum.ForumId">
                                @forum.Name
                            </a>
                            @forum.Description
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}