@model TopicDetails

<h1>
    <a asp-action="Topic" asp-route-id="@Model.TopicId">
        @Model.Name
    </a>
</h1>

<p>@Model.Description</p>

<p><i>Created on @Model.Created</i></p>

@foreach (var post in Model.Posts)
{
    <div>
        <b>
            <a asp-action="Profile" asp-controller="User" asp-route-id="@post.Author.UserId">
                @post.Author.UserName
            </a>
        </b>
        <br />
        <i>Posted on @post.Created</i>
        <div style="border: 1px black solid;">
            <p>@post.Body</p>

            @if (post.Created != post.Modified)
            {
                <i>Edited on @post.Modified</i>
            }

            @if (post.AttachSignature)
            {
                <hr />
                <p>@post.Author.Signature</p>
            }

            <p>
                @{ 
                    var replyName = $"Re: {Model.Posts.First().Name}";
                }
                <a asp-action="NewReply" asp-route-id="@Model.TopicId" asp-route-name="@replyName">
                    Reply
                </a>
            </p>
        </div>
    </div>
    <br />
}

<h2>
    @{
        var defaultReplyName = $"Re: {Model.Posts.First().Name}";
    }
    <a asp-action="NewReply" asp-route-id="@Model.TopicId" asp-route-name="@defaultReplyName">
        New Reply
    </a>
</h2>