@model ForumIndexViewModel

<h1>@Model.Forum.Name</h1>
<p>@Model.Forum.Description</p>

<table>
    <tbody>
        @foreach (var topic in Model.Topics)
        {
            <tr>
                <td>
                    <a asp-controller="Topic" asp-action="Index" asp-route-id="@topic.Id">
                        @topic.Title
                    </a>
                </td>
                <td>
                    @topic.Description
                </td>
                <td>
                    @topic.Created
                </td>
            </tr>
        }
    </tbody>
</table>