@model CategoryDetailsCollection

<h1>Forums | Admin Control Panel</h1>

@Html.ValidationSummary()

@await Html.PartialAsync("_AddCategory", new AddCategoryForm())

<a asp-action="AddForum">New Forum</a>

@foreach (var category in Model)
{
    <div>
        <h2>@category.Name</h2>
        <a asp-action="EditCategory" asp-route-id="@category.CategoryId" method="post">
            (edit)
        </a>
        <form asp-action="RemoveCategory" asp-route-id="@category.CategoryId" method="post">
            <button type="submit">(remove)</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forum in category.Forums)
                {
                    <tr>
                        <td><img src="@forum.ImageUrl" /></td>
                        <td>@forum.Name</td>
                        <td>@forum.Description</td>
                        <td>
                            <form asp-action="RemoveForum" asp-route-id="@forum.ForumId" method="post">
                                <button type="submit">(remove)</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}