@{ 
    Layout = "_CommunityLayout";
}
@model TopicIndexViewModel

<h1>@Model.Topic.Title</h1>

<div>
    <a asp-controller="Topic" asp-action="NewPost" asp-route-id="@Model.Topic.Id">
        New Post
    </a>
</div>

<table>
    <tbody>
        @foreach (var p in Model.Posts)
        {
            <tr>
                <td>
                    @p.Title
                </td>
                <td>
                    @p.Body
                </td>
                <td>
                    @p.Created
                </td>
            </tr>
        }
    </tbody>
</table>